.border {
    border: 1px solid yellowgreen;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px ;
}
.border>img{
    width: 100%;
    height: auto;
    
}
.btn{
    background-color: rgb(50, 205, 115);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 10px ;
}
.btn:hover{
    background-color: palevioletred;
}

.visited{
    background-color: paleturquoise;
    color: black;
}